@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');

:root {
    --font-family: 'Prosto One', cursive;
    --bg-color: #CFF5E7;
    --primary-color: #0D4C92;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

h1 {
    font-size: 5.5em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 3em;
    margin-top: 30px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 30px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    margin: 20px;
    padding: 10px;
}

.btn-jogar{
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    margin-top: 30px;
    font-size: 1.2em;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 8px #000000;
    cursor: pointer;
}

.btn-jogar:hover {
    color: #ffffff;
    box-shadow: 2px 2px 8px #ffffff;
}